*
{
    margin: 0px;
    padding: 0px;
}

body
{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,195,195,1) 60%, rgb(255, 120, 120) 100%);   
}
#Accueil
{
    border-bottom: 2px solid red;
}


.tuto
{ 
    background-color: rgba(0, 0, 0, 0.255);
    margin: 20px;
    padding: 30px;
    border-radius: 10px;
}
.img_tuto
{
    width: 200px;
    height: auto;
    border-bottom: 1px solid black;
}
.contentTuto
{
    width: 200px;
    margin: 1%;
    border: 1px solid black;
}

.wrapTuto
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#TutoDisponible
{
    font-size: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.contentTuto a
{
    color: black;
    text-decoration: none;
}
.contentTuto a:hover
{
    color: rgb(172, 0, 0);
}
.commentaire
{
    background-color: rgb(239, 239, 239);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}
.visage
{
    width: 70px;
    height: auto;
    border-radius: 10px;
    margin: 10px;
}
.personne
{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}
/* Avis sous forme de barre */

.barre
{
    border:1px solid black;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    margin-right: 10px;     
}
.étoile5
{
    background-color: orangered;
    width: 80%;
    height: 10px;
    border-radius: 5px;
}
.étoile4
{
    background-color: orangered;
    width: 20%;
    height: 10px;
    border-radius: 5px;
}
.étoileAutre
{
    background-color: orangered;
    width: 0%;
    height: 10px;
    border-radius: 5px;
}
.formA
{
    display: flex;
    flex-direction: row;
    margin: 10px;
    width: 100%;
}
.formB
{
    display: flex;
    flex-direction: row;
    margin: 10px;
    width: 200px;
}
.Avis
{
    display: flex;
    flex-direction: row;
    margin:0;
    align-items: center;
}
 input
{
     margin: 10px;
}

/* Gestion du bouton pour lire plus d'avis  */

#plusAvis
{
    background-color: rgb(255, 63, 63);
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border-color: rgb(255, 213, 213);
}

@media only screen and (max-width: 700px) 
{

.tuto
    { 
        margin: 15px;
        padding: 20px;
    }
    .wrapTuto
    {
        display: flex;
        flex-direction: column;
       
    }
}
@media only screen and (max-width: 500px) 
{
    .tuto
    { 
        margin: 10px;
        padding: 15px;
    }
    #TutoDisponible h2
    {
        font-size: 30px;
    }
}